
.nav-style{
    font-family: 'inter', sans-serif;
    background-color: #161616;
}

.nav-menu-style{
    font-weight: 400;
}

.login-btn {
    text-decoration: none;
    width: 112px;
    border: none;
    font-weight: bold;
    background-color: #252525;
}

.sign-btn {
    text-decoration: none;
    width: 112px;
    border: none;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #252525;
}

.head-sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

/* blog, testimoni, payment */
.page-background-2{
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* BlogPage */
.blog{
    padding: 100px;
}

.blog h1{
    font-family: 'Volkhov', sans-serif;
}

.blog p{
    font-family: 'inter', sans-serif;
}

.blog .blog-pos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog .blog-pos img{
    margin: 30px;
}
/* TestimoniPage */

.testi{
    padding: 100px;
}

.testi h1{
    font-family: 'Volkhov', sans-serif;
}

.testi p{
    font-family: 'inter', sans-serif;
}

.testi .colom-testi{
    border: 1px solid #ffffff;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
}

.testi .desc{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'inter', sans-serif;
}

.testi .people{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 10px;
}

.testi .people h5{
    font-weight: 600;
    font-family: 'inter', sans-serif;
}

.testi .people p{
    font-family: 'inter', sans-serif;
    font-size: 14px;
}

.testi .people img{
    width: 60px;
    border-radius: 100%;
}

/* Footer */
.footer-bg {
    background-color: #161616;
    color:#fcfcfc;
    font-family: 'inter', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.socmed {
    width: 30px;
    height: 30px;
    margin: 5px 10px 5px 0px;
}

/* login */

.wrapper{
    font-family: 'poppins', sans-serif;
    background-color: #161616;
    padding: 0 20px 0 20px;
}

.wrapper .main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .main .row{
    width: 1000px;
    height: 650px;
    border-radius: 20px;
    background: #161616;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0);
}

.wrapper .main .row .side-image{
    background-image: url("../assets/imageloginsign.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px 0 0 20px;
}

.wrapper .main .row .side-image img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.wrapper .main .row .right{
    background-image: url("../assets/imageloginsign2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0 20px 20px 0;
}

.wrapper .main .row .right .input-box{
    width: 380px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(128deg, rgba(0, 119, 192, 0.12) -81.68%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(6px);
}

.wrapper .main .row .right .input-box header{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}

.wrapper .main .row .right .input-box .input-field{
    font-size: 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;

}

.wrapper .main .row .right .input-box .input-field .input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(6px);
}

.wrapper .main .row .right .input-box .input-field-submit{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper .main .row .right .input-box .input-field-submit .submit{
    width: 90px;
    height: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.00) 100%);
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.wrapper .main .row .right .nav-login{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
}

/* sign up */



.wrapper .main .row .right .input-box-sign header{
    font-size: 22px;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}

.wrapper .main .row .right .input-box-sign .name{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.wrapper .main .row .right .input-box-sign .name-input{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper .main .row .right .input-box-sign .name-input .input-sign{
    height: 45px;
    width: 100%;
    background: transparent;
    border: 1px solid #89C7C3;
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(6px);
}

.wrapper .main .row .right .input-box-sign .input-field-sign{
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper .main .row .right .input-box-sign .input-field-sign .input-sign{
    height: 45px;
    background: transparent;
    border: 1px solid #89C7C3;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    padding: 20px;
}

.wrapper .main .row .right .input-box-sign .input-field-sign-submit{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;

}

.wrapper .main .row .right .input-box-sign .input-field-sign-submit .submit{
    height: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0.00) 100%);
    border: 1px solid #89C7C3;
    border-radius: 10px;
    font-size: 10px;
}

.wrapper .main .row .right .input-box-sign .input-field-sign-submit .submit a{
    margin: 20px;
}

.wrapper .main .row .right .input-box-sign .input-field-sign-submit .submit img{
    width: 20px;
    margin-right: 10px;
}

.wrapper .main .row .right .input-box-sign p {
    font-size: 12px;
}

/* Home */
.homestyle{
    background-color: #171717;
    min-height: 100vh;
}
/* hero */
#hero{
    background: url(../assets/homeimg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 930px;
    margin: 0px 10px;
}

.hero-tagline h3{
    margin-top: 150px;
    color: #006032;
    font-family: 'poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.hero-tagline h1{
    margin-top: 30px;
    width: 355px;
    color: #022831;
    font-family: 'Volkhov';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.hero-tagline p{
    margin-top: 30px;
    width: 300px;
    color: #F5F5F5;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.button-lg-primary{
    margin-top: 30px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 23.942px;
    font-style: normal;
    font-weight: 700;
    width: 226px;
    height: 80px;
    border-radius: 13.301px;
    background: #17281F;
}

/* courses home */
.pc{
    font-family: 'Volkhov', sans-serif;
    color: #EDDC41;
    font-size: 60px;
    font-style: normal;
    font-weight: 700
}

.pc2{
    color: #fff;
    font-family: 'Poppins';
    font-size: 26.602px;
    font-style: normal;
    font-weight: 700;
}

.btn-course-home{
    width: 230px;
    text-align: start;
    border: none;
    font-family: 'poppins', sans-serif;
    background-color: #DCDCDC;
}

.btn-course-home span{
    font-size: 15px;
    font-weight: 600;
}


/* avatarlogo */
.bar{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    background: #252525;
    position: relative;
}

/* community & event */
.img-card{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.col .card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card-text a{
    text-decoration: none;
    color: #006032;
    font-family: 'poppins';
    font-size: 16px;
}

.card-body p{
    color: #737373;
    text-align: justify;
    font-family: 'poppins';
    font-size: 15px;
    font-style: normal;

}

/* about */
#about{
    background: url(../assets/about.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}   

.about-tagline{
    text-align: justify;
    width: 639px;
    height: 680px;
    border: 1px solid #737373;
    background-color: rgba(15, 15, 15, 0.592);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.about-tagline h1{
    margin-top: 30px;
    color: #EDDC41;
    font-family: 'Volkhov', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.about-tagline p{
    margin-top: 30px;
    color: #F5F5F5;
    font-family: 'poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.about-element p{
    padding: 20px 0px;
    margin: 200px 100px ;
    text-align: center;
    color: #F5F5F5;
    background-color: #013F21;
    font-family: 'poppins', sans-serif;
    font-size: 30px;
}

/* newsletter */
.subs{
    position: relative;
}

.subs img{
    margin-top: 100px;
}

.subs-inputan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subs h3{
    margin-top: 100px;
    color: #17281F;
    font-family: 'Volkhov';
    font-size: 32px;
    font-weight: 700;
}

.input-subs{
    padding: 20px;
    border: 0;
    width: 400px;
    height: 80px;
    border-radius: 13.301px;
}

.button-subs{
    margin: 20px;
    border: 0;
    color: #F5F5F5;
    text-align: center;
    font-family: 'poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    width: 200px;
    height: 80px;
    border-radius: 13.301px;
    background: #17281F;
}

/* bg-page */
.p-course {
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.community-home{
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.subs-home{
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* page community */

.page-community{
    background-image: url(../assets/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'poppins', sans-serif;
}

.page-community h1{
    color: #F5F5F5;
    font-weight: 600;
}

.page-community h5{
    color: #BDBDBD;
    font-size: 300;
    margin-bottom: 50px;
}

.page-community p{
    color: #F5F5F5;
    padding: 10px;
    border: 1px solid #737373;
    background-color: rgba(15, 15, 15, 0.592);
    backdrop-filter: blur(6px);
    border-radius: 15px;
}

/* payment */
.payment-bg{
    background-image: url(../assets/background2.png);
    max-height: 800px;
    position: relative;
}

.payment img{
    width: 150px;
}

/* page course */


.course-page h1{
    margin-top: 50px;
        font-family: 'Volkhov', sans-serif;
        color: #EDDC41;
        font-size: 60px;
        font-style: normal;
        font-weight: 700
}

.course-page p{
    color: #fff;
    font-family: 'Poppins';
    font-size: 26.602px;
    font-style: normal;
    font-weight: 700;
}