.nav-style{
    background-color: #161616;
}

.nav-menu-style{
    font-weight: 400;
}

.login-btn {
    width: 112px;
    border: none;
    font-weight: bold;
    background-color: #252525;
}

.sign-btn {
    width: 112px;
    border: none;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #252525;
}

.head-sidebar{
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}